run = "run"
[nix]
channel = "stable-25_05"
packages = ["run"]

[workflows]
runButton = "Run MotivAgent"

[[workflows.workflow]]
name = "Run MotivAgent"
author = 42203167
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[deployment]
run = ["sh", "-c", "run"]
