run = "python3 main.py"
[nix]
channel = "stable-25_05"
packages = ["python3"]

[workflows]
runButton = "Run MotivAgent"

[[workflows.workflow]]
name = "Run MotivAgent"
author = 42203167
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[deployment]
run = ["sh", "-c", "run"]
